<div>
	<div class="roomWrapper">


		<div class="roomLHS">
			<h3> Welcome to {{id}} </h3>
			<h3 class="banned"> {{bannedMessage}} </h3>
			<h4>{{room.topic}}</h4>
			<input class="topicBox" type="text" ng-model="roomtopic"/>
			<button ng-click="editTopic()">Edit topic</button>
		</div>

		<div class="roomMain">
			<div id="msgHistory" class="msgHistory">
				<ul class="theChat">
					<li ng-repeat="message in messages">
						<span class="userSays">{{message.nick}}</span>: {{message.message}}
					</li>
				</ul>
			</div>
			<div class="msgSendBox">
				<input class="msgTextarea" type="textarea" ng-model="message" />
				<button ng-click="sendMessage()">Send</button>
			</div>
		</div>

		<div class ="roomRHS">
			<button ng-click="partRoom()">Leave Room</button>
			<p></p>
			<div>
				<span class="toBold">OPs:</span>
				<ul>
					<li ng-repeat="op in ops">
						{{op}} 
					</li>
				</ul>
				<span class="toBold">Users:</span>
				<ul>
					<li ng-repeat="user in users">
						<div class="uwrapper">
							<div class="ulhs">
								{{user}}
							</div>
							<div class="urhs">
								<button ng-click="kickUser(user)" ng-model="selectedUser">kick</button>
								<button ng-click="banUser(user)" ng-model="selectedUser">ban</button>
							</div>
						</div>
					</li>
				</ul>
				{{errorMessage}}
			</div>
		</div>
	</div>
</div>